{% extends 'Backend/base.html.twig' %}

{% block title %}
	Admin des users
	{{ parent() }}
{% endblock %}

{% block body %}
	<section class="container mt-2">
		<h1 class="text-center">Admin des users</h1>
	</section>
{% endblock %}
