.breadcrumb {
    @include flex($gap: 0.5rem);
    margin-bottom: 2rem;

    &-checkout {
        margin-bottom: 1.5rem;

        &-list {
            @include grid(repeat(4, 1fr), 1rem);
            text-align: center;
        }

        &-item {
            border-bottom: 1px solid lighten($color: $text-color, $amount: 40%);
            color: lighten($color: $text-color, $amount: 30%);
            font-weight: bold;

            a {
                width: 100%;
            }

            &.active {
                border-bottom: 1px solid $text-color;
                color: $text-color;
            }
        }
    }
}
