.card {
    border-radius: $border-radius;
    border: 1px solid $text-color;
    padding: 1rem;
    word-break: break-word;

    &-btn {
        @include flex(space-between, center, $gap: 1em);
        margin-top: 1rem;
    }

    &-product {
        @extend .col-md-3;
        @include flex($justify: space-between, $align: null, $direction: column);

        &-img {
            background: $primary;
        }

        &-list {
            @include flex($align: stretch, $gap: 1rem);
        }

        &-content {
            &-info {
                flex: 1;
            }
        }
    }

    &-model {
        border-radius: $border-radius;
        background: $primary;
        color: $text-color;

        &-list {
            @include flex($align: center, $gap: 1rem);
        }

        &-content {
            @include flex($align: center, $gap: 1rem, $display: inline-flex);
            padding-right: 1em;
        }

        img {
            width: 6rem;
        }

        &-name {
            flex: 1;
            margin-bottom: 0;
        }

        .card-btn {
            margin-top: 0;
            margin-bottom: 0.5em;
            padding: 0 0.7em;
            gap: 1em;
        }
    }

    &-marque {
        border-radius: $border-radius;
        background: $primary;
        color: $text-color;
        overflow: hidden;

        &-list {
            @include flex($align: center, $gap: 1rem);

            & > * {
                width: 20%;
            }
        }

        img {
            height: rem(300);
            aspect-ratio: 9/1;
        }

        .card-btn {
            margin-top: 0;
            margin-bottom: 0.5em;
            padding: 0 0.7em;
            gap: 1em;
        }
    }
}

.admin {
    .card {
        border-color: $primary;
    }
}
