.shop-filter {
    @include flex(space-between, center);

    padding: 1rem 0;
    border-top: 1px solid lighten($text-color, 30%);
    border-bottom: 1px solid lighten($text-color, 30%);
    margin-bottom: 1rem;

    &-btn {
        border: none;
        background: none;
    }

    &-wrapper {
        position: absolute;
        z-index: 10;
        top: 54px;
        right: 0;
        background: $primary;
        height: 100vh;
        overflow: scroll;
        width: 0;
        transition: width 0.3s ease-in;

        &.active {
            width: 30vw;
        }
    }

    &-content {
        padding: 2rem 1rem;
        min-width: max-content;
    }
}
