body {
    display: flex;
    margin: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    width: $sidebar-width;
    height: 100vh;
    background: $primary;
    color: $text-color;
    display: flex;
    flex-direction: column;
    transition: width 0.3s;
    position: sticky;
    top: 0;
    overflow: scroll;

    &.collapsed {
        width: $sidebar-collapsed-width;

        .menu-item-text {
            opacity: 0;
        }
    }

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        background: darken($primary, 10%);
        h3 {
            margin: 0;
            flex-grow: 1;
        }
        .toggle-btn {
            background: none;
            border: none;
            color: #fff;
            cursor: pointer;
            font-size: 1.5rem;
        }
    }

    &-menu {
        list-style: none;
        padding: 0;
        margin: 0;

        .menu-item {
            &-text {
                transition: opacity 0.3s;
            }

            a {
                display: flex;
                align-items: center;
                padding: 1rem;
                text-decoration: none;
                border-bottom: 1px solid lighten($primary, 10%);
                transition: background 0.3s;

                &:hover,
                &.active {
                    background: lighten($primary, 10%);
                }

                i {
                    margin-right: 1rem;
                }
            }
        }
    }
}

.main-content {
    flex: 1;
    padding: 2rem;
    background: lighten($secondary, 30%);
    color: $primary;
}
