.account {
    @include flex($wrap: nowrap, $gap: 1rem);

    &-sidebar {
        position: sticky;
        top: 59px;
        height: calc(100vh - 59px);
        overflow-y: scroll;
        width: 20%;
        border-right: 1px solid $text-color;
        padding: 3rem 0;

        &-header {
            @include flex($gap: 1rem);
            font-weight: bold;
            font-size: 1.4rem;
            line-height: 125%;
        }

        &-links {
            @include flex($direction: column);

            margin-top: 1.5rem;

            li {
                width: 100%;
            }
        }

        &-link {
            @include flex($align: center, $gap: 10px);

            transition: all 0.3s ease;
            width: 90%;
            padding: 1rem 0.5rem;

            &:hover,
            &.current {
                background: $primary;
            }
        }
    }

    &-main-content {
        flex: 1;
        padding: 3rem 0;
    }

    %card {
        border-radius: $border-radius;
        border: 1px solid $text-color;
        padding: 1rem;
    }

    &-order {
        &-list {
            @include grid(repeat(2, 1fr), 1rem);
        }

        &-card {
            @extend %card;
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
                background: $secondary;
                color: $primary;
            }

            &-header {
                @include flex(space-between, center);

                & > * {
                    margin-bottom: 0;
                }
            }

            &-footer {
                @include flex(space-between, center);
                margin-top: 1rem;
            }
        }
    }

    &-address {
        &-list {
            @include grid(repeat(4, 1fr), 1rem);
        }

        &-card {
            @extend %card;
            @include flex($gap: 0.5rem);

            &.default {
                background: darken($primary, 10%);
            }

            p {
                flex: 1;
                margin-bottom: 0;
            }
        }
    }
}
