<header class="navbar">
	<nav class="navbar-content container">
		<a href="{{ path('app.home') }}" class="navbar-logo">
			{% include 'Frontend/Layout/_logo.html.twig' %}
		</a>
		<ul class="navbar-links">
			<li class="navbar-item">
				<a href="{{ path('app.products.index') }}">Sneakers</a>
			</li>
			<li class="navbar-item">
				<a href="">Chaussures</a>
			</li>
			<li class="navbar-item">
				<a href="">Livraison 48h</a>
			</li>
		</ul>
		<form action="#" method="GET" class="navbar-form">
			<input type="text" name="query" id="query" placeholder="Rechercher une marque, un modèle...">
			<button type="submit">
				<svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M17.4999 17.5L13.8749 13.875M9.16689 15.833C10.0492 15.8438 10.9249 15.6794 11.7432 15.3492C12.5615 15.019 13.3061 14.5297 13.9339 13.9096C14.5616 13.2895 15.06 12.5509 15.4002 11.7367C15.7404 10.9225 15.9155 10.0489 15.9155 9.16651C15.9155 8.28412 15.7404 7.4105 15.4002 6.59631C15.06 5.78213 14.5616 5.04356 13.9339 4.42345C13.3061 3.80334 12.5615 3.31401 11.7432 2.98383C10.9249 2.65366 10.0492 2.48921 9.16689 2.50001C7.41297 2.52149 5.73817 3.23331 4.50548 4.48119C3.2728 5.72906 2.58154 7.41246 2.58154 9.16651C2.58154 10.9206 3.2728 12.604 4.50548 13.8518C5.73817 15.0997 7.41297 15.8115 9.16689 15.833Z" stroke="#666666" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>
			</button>
		</form>
		<ul class="navbar-links navbar-icons">
			<li class="navbar-item account">
				<a href="#">
					<svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M16.667 17.5V15.833C16.667 15.3952 16.5808 14.9617 16.4132 14.5573C16.2456 14.1528 16 13.7854 15.6904 13.4759C15.3808 13.1663 15.0133 12.9209 14.6088 12.7534C14.2043 12.586 13.7708 12.4999 13.333 12.5H6.66701C6.22923 12.4999 5.79571 12.586 5.39122 12.7534C4.98672 12.9209 4.61918 13.1663 4.30957 13.4759C3.99997 13.7854 3.75437 14.1528 3.58681 14.5573C3.41925 14.9617 3.33301 15.3952 3.33301 15.833V17.5M10 9.167C10.8841 9.167 11.732 8.81579 12.3571 8.19064C12.9823 7.56549 13.3335 6.7176 13.3335 5.8335C13.3335 4.9494 12.9823 4.10151 12.3571 3.47636C11.732 2.85121 10.8841 2.5 10 2.5C9.11591 2.5 8.26802 2.85121 7.64287 3.47636C7.01772 4.10151 6.66651 4.9494 6.66651 5.8335C6.66651 6.7176 7.01772 7.56549 7.64287 8.19064C8.26802 8.81579 9.11591 9.167 10 9.167Z" stroke="#666666" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
				</a>
			</li>
			<li class="navbar-item fav">
				<a href="#">
					<svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M17.3671 3.84178C16.9414 3.41593 16.436 3.07812 15.8797 2.84764C15.3234 2.61716 14.7272 2.49854 14.1251 2.49854C13.5229 2.49854 12.9267 2.61716 12.3704 2.84764C11.8142 3.07812 11.3087 3.41593 10.8831 3.84178L10.0001 4.72478L9.11705 3.84178C8.25735 2.98195 7.0913 2.49885 5.87541 2.49875C4.65952 2.49866 3.49339 2.98158 2.63355 3.84128C1.77372 4.70098 1.29062 5.86703 1.29053 7.08293C1.29043 8.29882 1.77335 9.46495 2.63305 10.3248L3.51705 11.2078L10.0001 17.6918L16.4831 11.2078L17.3671 10.3248C17.7928 9.89911 18.1304 9.39376 18.3608 8.83758C18.5912 8.2814 18.7098 7.68529 18.7098 7.08328C18.7098 6.48127 18.5912 5.88516 18.3608 5.32898C18.1304 4.7728 17.7928 4.26745 17.3671 3.84178Z" stroke="#666666" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
				</a>
			</li>
			<li class="navbar-item cart">
				<a href="{{ path('app.cart.show') }}">
					<svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M2.5 4.99999L5 1.66699H15L17.5 4.99999M2.5 4.99999V16.667C2.50027 17.1089 2.67601 17.5327 2.98861 17.8451C3.3012 18.1575 3.72506 18.333 4.167 18.333H15.833C16.0519 18.3331 16.2686 18.2901 16.4709 18.2065C16.6731 18.1228 16.8569 18.0001 17.0117 17.8454C17.1665 17.6907 17.2893 17.507 17.3731 17.3048C17.4569 17.1026 17.5 16.8859 17.5 16.667V4.99999M2.5 4.99999H17.5M13.333 8.33299C13.333 9.21696 12.9818 10.0647 12.3568 10.6898C11.7317 11.3148 10.884 11.666 10 11.666C9.11603 11.666 8.26827 11.3148 7.64321 10.6898C7.01815 10.0647 6.667 9.21696 6.667 8.33299" stroke="#666666" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
					{% if getNumberCartItem() > 0 %}
						<span class="cart-count">{{ getNumberCartItem() }}</span>
					{% endif %}
				</a>
			</li>
			<li class="navbar-item burger">
				<a href="#">
					<svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M2.5 10H17.5M2.5 5H17.5M2.5 15H17.5" stroke="#666666" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
				</a>
			</li>
		</ul>
	</nav>
</header>
